<div class="explain">
	<p>
		To help users find the training they want easily, we use a 3-level index.
	</p>
	<p>
		<strong>Genre</strong> is the super-level. <i>E.g. Business, Hobbies, Sport.</i>
	</p>
	<p>
		Each genre has 1 or more <strong>Categories</strong>. <i>E.g. 
		The Business genre will have Sales, Finance, HR categories.</i>
	</p>
	<p>
		Each category has 1 or more <strong>Topics</strong>. <i>E.g. 
		The Business/HR category will have topics like Recruitment, Record-keeping, Payroll.</i>
	</p>
	<p>
		hrOOMPH administrators maintain the lists; vendors may request additions.
	</p>
</div>