<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<em>Training Deals</em> aims to be web's most comprehensive and reliable index of training and self-development programmes - no matter where or how you want to study.
</p>
<h3>If you're selling training ...</h3>
<p>
	Whether you offer courses, seminars, books, or online materials, it's <em>FREE</em> to list all your standard products and services.
</p>
<p>
	Want to fill those last places in your class or run a special promotion?  Find out how we can help.
</p>
<h3>If you're looking for training ...</h3>
<p>
	Search for the course you want, the training format, the maximum cost, maybe a location, date and qualification.
</p>
<p>
	Better still, sign up for free and we'll remember your preferences - and give you early notice of any special deals matching your requirements.
</p>