<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	<em>Training Gains</em> aims to be web's most comprehensive and reliable index of training and self-development programmes - no matter where or how you want to study.  But it's not just a neutral database.  When you train, we want to help you to gain!
</p>
<h3>If you're selling training ...</h3>
<p>
	Whether you offer courses, seminars, books, or online materials, it's <em>FREE</em> to list all your standard products and services.
</p>
<p>
	<b>Optimize your sales.</b> Fill those last places in your class or run a special promotion.
</p>
<h3>If you're looking for training ...</h3>
<p>
	Search for the course you want, the training format, the maximum cost, maybe a location, date and qualification.
</p>
<p>
	<b>Optimize your budget.</b> Sign up for free and we'll give you early notice of any special deals matching your preferences.
</p>