<div class="center hero-unit">
	<h1>Training Gains</h1>

	<h2>
		Optimizing training budgets and sales.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("promote-arrow.png", alt: "Training Gains", size: "100x100"), '#' %>