<div class="center hero-unit">
	<h1><%= image_tag("hroomph_title.png", alt: "HROOMPH - The Training app") %></h1>

	<h2>
		Optimizing training budgets.  Maximizing training sales.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

