<div class="well sidebar-nav">  
	<div class="js-guidance"> 
		<span class="toggler-1 column-wide">
			<span class="label label-info">WHY SIGN UP?
				<span id="ct-toggler-1" class="caret down"></span>
			</span>
		</span>
		<div class="explanation">
		 	<%= render 'benefits_details' %>
		</div>
	</div>
	<div class="html-guidance">
		<span class="column-wide"><span class="label label-info">WHY SIGN UP?</span></span>
		<%= render 'benefits_details' %>
	</div>
</div>