<div class="explain">
	<div id="side-content-1">Looking for training? 
		<span id="ct-content-1" class="caret down"></span>
	</div>
	<div id="side-detail-1">
		You'll get:-
		<ul>
			<li>Unlimited saved searches.</li>
			<li>One-click notification of all programmes/products/events matching your search criteria.</li>
			<li>Real-time alerts of special offers.</li>
			<li>Quick lookup: 'My favourites'</li>
			<li>The opportunity to review courses/products you've taken.</li>
		</ul>
	</div>
	<div id="side-content-2">Ofering training? 
		<span id="ct-content-2" class="caret down"></span>
	</div>
	<div id="side-detail-2">
		You'll get:-
		<ul>
			<li>Free listing of your business + its programmes / products / events.</li>
			<li>Targetted promotion to those who want to hear about your programmes/products.</li>
			<li>Option to accept online credit/debit card bookings.</li>
			<li>Special promotional tools to create early interest or fill your remaining seats.</li>
			<li>HROOMPH customer reviews.</li>
		</ul>
	</div>
</div>