<div class="explain">
	<div id="side-content-1">Password protection
		<span id="ct-content-1" class="caret down"></span>
	</div> 		
	<div id="side-detail-1">
		<p>
			Changes made on this page will affect your future access to HROOMPH - so we need to be sure 
			that the person making the changes is really the authorized user.
		</p>
		<p>
			That's why we ask you to confirm your changes by entering and <b>confirming your 
			password</b> at the bottom of the form.
		</p>
		<p>
			If you've forgotten your password, <a href="#", target="_blank">click here</a> for 
			further instructions.
		</p>
	</div>
	<div id="side-content-2">Your location
		<span id="ct-content-2" class="caret down"></span>
	</div> 		
	<div id="side-detail-2">
		<p>
			Your location matters - when you run a search, we'll restrict programmes and events to
			geographical area you specify. So enter either your address, or if you prefer, just your
			town and country.
		</p>
		<p>
			As you're typing, a list of possible matches will pop up. Select the right one, and the map
			should reset itself to your location. If no matches appear, click on the 'find' button, and
			Google Maps will attempt to match what you've entered.
		</p>
		<p>
			If there's no match, you'll get an error message, and the map will disappear. Check your
			typing, and if you can't see the problem, just enter the nearest town and your country.
		</p>
	</div>
	<div id="side-content-3">Your profile picture
		<span id="ct-content-3" class="caret down"></span>
	</div> 		
	<div id="side-detail-3">
		<p>
			For your <b>profile picture</b>, we use your Gravatar, a little picture of you that appears 
			when you interact with sites all over the web.
		</p>
		<p>
			If you've never set your Gravatar before, you'll just see an 'anonymous
			user' image.  If you click on 'change', we'll direct you to the Gravatar site.
			Just follow the simple instructions there to personalize your web picture.
		</p>
	</div>
</div>