<div class="explain">
	<div id="side-content-3">NAME
		<span id="ct-content-3" class="caret down"></span>
	</div>
	<div id="side-detail-3">
		Your real name, please, so that if you place a booking, people will know who you are.
	</div>
	<div id="side-content-4">EMAIL
		<span id="ct-content-4" class="caret down"></span>
	</div>
	<div id="side-detail-4">
		<div>
			HROOMPH administrators will be able to see your email details, and may occasionally contact
			you on an administrative matter, but never to promote or sell.
		</div>
		<div class="add-top-space">
			If you choose to opt in to email notifications of relevant special offers, we'll
			obviously mail you. But we'll never reveal your email address to vendors, to any other
			HROOMPH user, or to any external organization ... except in the unlikely case that
			we were ever required to do so by law.
		</div>
	</div>
	<div id="side-content-5">LOCATION
		<span id="ct-content-5" class="caret down"></span>
	</div>
	<div id="side-detail-5">
		<div>
			We need to know where you are, so we can show you relevant programmes/events in your 
			vicinity. But we don't necessarily need your full address. A town and country will do, or postcode and country.
		</div>
		<div class="add-top-space">
			After entering your location, the map should display it. If it doesn't after a 
			couple of seconds, <i>Google Maps</i> may not recognize it, so re-enter it, 
			adding more/less detail.
		</div>
	</div>
	<div id="side-content-6">PASSWORD
		<span id="ct-content-6" class="caret down"></span>
	</div>
	<div id="side-detail-6">
		<div>HROOMPH uses an industrial-strength, up-to-date security system which makes it impossible 
			for anyone (including us!) to see your password or steal your identity - in fact passwords are not even held in our database.
		</div>
		<div class="add-top-space">
			But you need to do your part too, using a password that others can't guess.  Use 
			a combination of at least 6 letters and symbols and numbers ... or preferably more. 
			Include a few capital letters too.
		</div>
	</div>
</div>