<div class="explain">
	<div id="side-content-3">Name
		<span id="ct-content-3" class="caret down"></span>
	</div>
	<div id="side-detail-3">
		<p>
			Your real name, please, so that if you place a booking, people will know who you are.
		</p>
	</div>
	<div id="side-content-4">Email
		<span id="ct-content-4" class="caret down"></span>
	</div>
	<div id="side-detail-4">
		<p>
			HROOMPH administrators will be able to see your email details, and may occasionally contact
			you on an administrative matter, but never to promote or sell.
		</p>
		<p>
			If you choose to opt in to email notifications of relevant special offers, we'll
			obviously mail you. But we'll never reveal your email address to vendors, to any other
			HROOMPH user, or to any external organization ... except in the unlikely case that
			we were ever required to do so by law.
		</p>
	</div>
	<div id="side-content-5">Location
		<span id="ct-content-5" class="caret down"></span>
	</div>
	<div id="side-detail-5">
		<p>
			Your location matters - when you run a search, we'll restrict programmes and events to
			geographical area you specify. So enter either your address, or if you prefer, just your
			town and country.
		</p>
		<p>
			As you're typing, a list of possible matches will pop up. Select the right one, and the map
			should reset itself to your location. If no matches appear, click on the 'find' button, and
			Google Maps will attempt to match what you've entered.
		</p>
		<p>
			If there's no match, you'll get an error message, and the map will disappear. Check your
			typing, and if you can't see the problem, just enter the nearest town and your country.
		</p>
	</div>
	<div id="side-content-6">Password
		<span id="ct-content-6" class="caret down"></span>
	</div>
	<div id="side-detail-6">
		<p>HROOMPH uses an industrial-strength, up-to-date security system which makes it impossible 
			for anyone (including us!) to see your password or steal your identity - in fact passwords are not even held in our database.
		</p>
		<p>
			But you need to do your part too, using a password that others can't guess.  Use 
			a combination of at least 6 letters and symbols and numbers ... or preferably more. 
			Include a few capital letters too.
		</p>
	</div>
</div>