<div class="explain">
	<p>
		Changes made on this page will affect your future access to HROOMPH - so we need to be sure 
		that the person making the changes is really the authorized user.
	</p>
	<p>
		That's why we ask you to confirm your changes by entering and <b>confirming your 
		password</b> at the bottom of the form.
	</p>
	<p>
		If you've forgotten your password, <a href="#", target="_blank">click here</a> for 
		further instructions.
	</p>
</div>
<div class="explain">
	<p>
		For your <b>profile picture</b>, we use your Gravatar, a little picture of you that appears 
		when you interact with sites all over the web.
	</p>
	<p>
		If you've never set your Gravatar before, you'll just see an 'anonymous
		user' image.  If you click on 'change', we'll direct you to the Gravatar site.
		Just follow the simple instructions there to personalize your web picture.
	</p>
</div>