<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
	<aside class="span3">
		<section>
			<%= render "/shared/admin_menu_side" %>
		</section>
	</aside>

	<div class="span8">
		<%= will_paginate %>

		<ul class="unspaced-lists" id="userlist">
			<%= render 'user' %>
		</ul>

		<%= will_paginate %>
	</div>
</div>
