<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span3">
		<section>			
			<h1>
				<%= gravatar_for @user, size: 40 %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<%= render "/shared/user_menu" %>
		</section>
	</aside>
</div>