<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<div id="menu-items" class = "js-menu">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
					<span class="toggler-menu column-wide">
						<span class="label label-info">MENU 
							<span id="ct-menu" class="caret down"></span>
						</span>
					</span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<% if current_user.has_businesses? && !@business.nil? %>
						<%= render '/shared/business_menu_links' %>
					<% else %>
						<%= render '/shared/business_menu_minimized_links' %>
					<% end %>
				</ul>
			</li>
		</div>

		<div class="html-menu">
			<span class="column-wide"><li class="label label-info">MENU</li></span>
			<li class="divider"></li>
			<% if current_user.has_businesses? && !@business.nil? %>
				<%= render '/shared/business_menu_links' %>
			<% else %>
				<%= render '/shared/business_menu_minimized_links' %>
			<% end %>
		</div>
	</ul>
</div>