<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<div class = "js-menu">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
					<span class="column-wide"><span class="label label-info">MENU </span><b class="caret"></b></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<%= render '/shared/business_menu_links' %>
				</ul>
			</li>
		</div>

		<div class="html-menu">
			<span class="column-wide"><li class="label label-info">MENU</li></span>
			<li class="divider"></li>
			<%= render '/shared/business_menu_links' %>
		</div>
	</ul>
</div>