<%= render 'shared/error_messages', object: f.object %> 
<div class="entry-page">
	<div class="entry">
		<div class="add-this">
			<span class="label"><%= f.label :time_unit, "Time period" %></span>
		</div>
		<div class="box-fill">
			<%= f.text_field :time_unit %>
		</div>
	</div>
	<div class="entry"></div>
</div>





			
