<%= paginate @products, remote: true %>
<span class="pagination-total"><%= page_entries_info @products %>. Click product name for details.</span>
<div class="add-top-space"><%= render 'product' %></div>
