<div class="explain">
	 		
	<p class= "add-top-space">
		We strongly recommend that you switch on Javascript, then reload the page, to see
		the full impact of your product promotion. Most of our users do use Javascript - so
		we'd like you to see what they see.
	</p>

</div>