<div class="explain">
	 		
	<p class= "add-top-space">
		Cast yourself in the role of the outsider looking in. Click on the '(more..)' buttons
		and you'll see what they see.
	</p>
	<p>
		Have you said everything you need to?  Does it seem repetitive?  Have you used
		pictures in the business and product sessions? If so, will they 
		inspire / amuse /be remembered?
	</p>
	<p>
		Above all, have you given a compelling reason for people to sign up with you?
		In their shoes, would you be excited?
	</p>
	<p> 
		If not, it's easy to fix.  Edit!
	</p>
</div>