<p>
	Some training activities - training courses, seminars, conferences, 
	for example - have a clear start- and end-date. Participants attend
	these <strong><em>training events</em></strong> together.
</p>
<p>
	Others - such as books, online materials, tutoring - are not events, 
	but <strong><em>training resources</em></strong>. Learners don't attend
	together, but use a resource at a time of their own choosing. 
</p>
<p>
	If your business offers training events, then you
	now need to start scheduling.  You can plan as far forward as you like.
	Remember that your potential customers like to plan too, so
	at a minimum tell the HROOMPH community about any activity starting 
	in the next six months. 
</p>