<div class="explain">
	 		
	<p class= "add-top-space">
		Is your business involved in improving people's skills or knowledge?  Do you:-
		<ul>
			<li>run training or coaching courses?</li>
			<li>write training books or on-line material?</li>
			<li>offer mentoring/tutoring or arrange seminars/conferences?</li>
			<li>organize team-building activities, or run evening classes?</li>
		</ul>
	</p>
	<p>
		If so, then someone's looking for your help right now. Maybe locally.  Maybe half a world away.  We'll help the two of you to connect.  Because HROOMPH is the go-to search application for anyone who wants to step up to the next level.
	</p>
	<p>
		Listing your training business, products, services, schedules is <b>absolutely FREE</b>.
	</p>
	<p>
		So potential clients can find you.  But what about when you need to find them?
		Maybe to fill the last remaining seats in your course next week, or to get your new product off to a flying start? When it's time to get pro-active, we mean business! Check out <a href ="#">HROOMPH Gold</a>.
	</p>
	
</div>