<div class="well sidebar-nav">
	<div class="js-guidance"> 
		<span class="toggler column-wide"><span class="label label-info">Background</span><b class="caret"></b></span>
		<div class="explanation">
		 	<%= render 'explanation' %>
		</div>
	</div>
	<div class="html-guidance">
		<span class="column-wide"><span class="label label-info">Background</span></span>
		<%= render 'explanation' %>
	</div>
</div>
