<div class="well sidebar-nav">
	<div class="js-guidance"> 
		<span class="toggler-2 column-wide">
			<span class="label label-info">PAGE GUIDANCE
				<span id="ct-toggler-2" class="caret down"></span>
			</span>
		</span>
		<div class="explanation-2">
		 	<%= render 'guidance_details' %>
		</div>
	</div>
	<div class="html-guidance">
		<span class="column-wide"><span class="label label-info">PAGE GUIDANCE</span></span>
		<%= render 'guidance_details' %>
	</div>
</div>
