<div class="explain">
	<div id="side-content-7">Location
		<span id="ct-content-7" class="caret down"></span>
	</div> 		
	<div id="side-detail-7">
		<% unless params[:action] == 'edit' %>
			<p>
				The default address shown is the user address you've already provided.  Change it 
				if your business address is different.
			</p>
		<% end %>
		<p>
			If you're entering a new address, a list of possible matches will pop up as you type. 
			Select the right one, and the map should reset itself to the location. If no 
			matches appear, click on the 'find' button, and Google Maps will attempt to match 
			what you've entered.
		</p>
		<p>
			If Google Maps can't make sense of the address, you'll get an error message,
			and the map will disappear. Check your typing for errors, but if you can't see the 
			problem, just enter your town and country.  The map will be displayed again. If
			you're certain the address you entered was correct, click on the 'Report a problem' button 
			at the bottom right of the map, and follow the instructions.
		</p>
		<p>
			When you've located your business on the map, you may find that the post/zip code is
			incomplete or that your town name is duplicated. This is not a reportable error. Provided 
			the map position is OK, just edit the 'Full address' line. You should find that 
			the dropdown list changes to reflect your changes. When you've got what you need, select 
			from the dropdown list ... don't click on 'find'. Click on the 'Create' button and you 
			should find that the correctly formatted address is displayed on the 'Business details' form.
	</div>
	<div id="side-content-8">Hide your address
		<span id="ct-content-8" class="caret down"></span>
	</div> 		
	<div id="side-detail-8">
		<p>
			Some businesses may prefer not to put their address on public display. You might,
			for example, supply training books working from home, and it would be inappropriate
			for customers to visit. Your email address and phone number would be enough.
		</p>
		<p>
			The business address is a required field, so that the HROOMPH team can reach you in
			emergency if all other methods fail.  However, you can check 'Hide address' if you'd
			prefer to keep the address off HROOMPH's public pages.	
		</p>
	</div>
	<div id="side-content-9">Contact details
		<span id="ct-content-9" class="caret down"></span>
	</div> 		
	<div id="side-detail-9">
		<p>
			An email address for the business is required, partly so that HROOMPH administrators 
			can contact you if necessary.  Phone numbers are optional.
		</p>
		<p>
			Each business has one or more 'team-members' (assigned from the 'Business details' page).
			If you enter phone numbers and email addresses for any of your team-members, other 
			HROOMPH users will see <em>their</em> contact details instead of those entered here.
		</p>
		
	</div>
	<div id="side-content-10">Images
		<span id="ct-content-10" class="caret down"></span>
	</div> 		
	<div id="side-detail-10">
		<p>
			Don't miss the opportunity to add color and interest to your business pages by adding
			a logo and an image. (You'll be able to add an image for each of your products
			and services too.)
		</p>
		<p>
			These can be photographs, drawings, cartoons - any image that you can store on the device 
			you're using or can be accessed via a web link. As ever, our advice is to come up
		 	with something original and memorable: stand out from the crowd!
			
		</p>
		<p>
			Any image you use MUST belong to you. If we hear that your page has breached copyright, 
			we will ask you to remove the image immediately and we reserve the right to bar 
			your business from the HROOMPH site. Don't take chances!
		</p>
		<p>
			If you're using a web-link, be sure to enter the full path ... starting with http:// 
			or https://
		</p>
		<p>
			The logo will be displayed with maximum dimensions of 75x75 pixels. We find the longest 
			side of your downloaded or linked image, and resize it to fit 75 pixels. Then your image is 
			scaled, retaining the original proportions.  
		</p>
		<p>
			For your business image, the maximum display dimensions are 300x300 pixels, but scaling 
			works in the same way.  We also save a 75x75 pixel thumbnail of the picture, which will appear on this page after you specify your download or link.
		</p>
	</div>
</div>