<div class="explain">
	<div id="side-content-1">Eligible businesses
		<span id="ct-content-1" class="caret down"></span>
	</div> 		
	<div id="side-detail-1">
		<p>
			Does your business help people to improve their work or hobby skills, or pursue an 
			academic or sporting goal?  Then you're eligible, whether the business is large or small. 
			The HROOMPH listings include:-
			<ul class="add-top-space add-bottom-space">
				<li>training and coaching courses</li>
				<li>training books/on-line material</li>
				<li>academic courses</li>
				<li>evening classes</li>
				<li>mentors and tutors</li>
				<li>seminars and conferences</li>
				<li>team-building activities</li>
			</ul>
		</p>
	</div>
	<div id="side-content-2">Ineligible businesses
		<span id="ct-content-2" class="caret down"></span>
	</div> 		
	<div id="side-detail-2">
		<p>
			We reserve the right to exclude businesses promoting any political conviction or 
			religious faith, endangering public safety, or offering pornographic content. 
		</p>
	</div>
	<div id="side-content-3">Benefits
		<span id="ct-content-3" class="caret down"></span>
	</div> 		
	<div id="side-detail-3">
		<p>
			<ul>
				<li>
					Your business - and its products, programmes and events - can be found by thousands
					of HROOMPH visitors.
				</li>
				<li>
					Better still, we'll proactively bring your business to the attention of those who want
					what you can deliver.  You don't have to lift a finger.
				</li>
				<li>
					We're social media savvy. We post your business/product descriptions and pictures to
					Twitter, Facebook, Google+, Pinterest. Then you can build your traffic by sharing.
				</li>
				<li>
					Optionally, you can take credit / debit card bookings directly from the HROOMPH site.
					Payments go directly to you.
				</li>
				<li>
					Nothing works better than a good review. Customers who book through HROOMPH are
					reminded to leave a review.  It's your job to make sure it's a good one!
				</li>
				<li>
					Want to fill empty seats or pre-sell a new product?  Check out HROOMPH GOLD below.
				</li>
			</ul>
		</p>
	</div>
	<div id="side-content-4">Costs
		<span id="ct-content-4" class="caret down"></span>
	</div> 		
	<div id="side-detail-4">
		<p>
			Everything on the site is FREE - except for the special HROOMPH GOLD services below.  
			We don't even charge for card payments taken on the site (although you <em>will</em> need to pay a small fee (2.4% + 20p) to the card service provider, Stripe).
		</p>
	</div>
	<div id="side-content-5">HROOMPH Gold
		<span id="ct-content-5" class="caret down"></span>
	</div> 		
	<div id="side-detail-5">
		<p>
			So your next course starts in a few days. You can seat 16, breakeven is 10, and you have
			10 sales so far. How to fill the last seats and maximize your profit?  
			Partner with us, using HROOMPH GOLD!
		</p>
		<p>
			<em>You</em> offer an attractive discount, specifying exactly how many places you're 
			ready to sell.  <em>We</em> immediately pull out all the marketing stops to promote
			your 'SPECIAL OFFER - first come, first served'.  Social media, website headlines, email
			notifications (where users allow) ... all targeted towards your best prospects.
		</p>
		<p>	
			Similarly, you could build interest in a new product. You offer a time- or order-limited discount via HROOMPH GOLD. We'll make sure word gets out to all your potential customers. 
		</p>
		<p>	
			We charge for HROOMPH GOLD - 10% of your discounted price. But you can't lose, because we only
			take our commission after you've received your customer payment. It's win-win-win - for you, 
			for us, and for the lucky customers.
		</p>
	</div>
	<div id="side-content-6">What's next?
		<span id="ct-content-6" class="caret down"></span>
	</div> 		
	<div id="side-detail-6">
		<p>
			First add the business.  Then, from the Menu, name and describe your various products 
			and services. If you have programmes or events, schedule them for the next few months.  
			Add some HROOMPH Gold offers, if you wish.
		</p>
		<p> 
			HROOMPH aims to be flexible, and we always leave control in your hands.  Your options 
			include:-
			<ul class="add-top-space">
				<li>Allowing customers to call you</li>
				<li>Redirecting customers to your site</li>
				<li>Taking orders directly on the HROOMPH page</li>
				<li>Using HROOMPH Gold</li>
				<li>Featuring customer reviews on your pages</li>
				<li>Exploiting the social media coverage</li>
			</ul>
		</p>
		<p>
			Don't be afraid to experiment - you can always turn an option off if it doesn't work
			for you. And please let us hear about your success stories!
		</p>
	</div>
</div>