<div class="explain">
	<p class="add-top-space">
		Team members are those with access-rights to your business's pages. They can
		view, enter, and edit details of products and programmes, just like you.
	</p>	
	<p>
		If their email address also appears on this page, they can be directly contacted by HROOMPH
		users (for enquiries and orders). A phone number shows they can also be called.  If only
		the name is listed, their name will not appear to the public.
	</p>
	<p>
		If you've listed contactable team members, their contact details will be the ones listed
		for the business.  Otherwise, customers will be directed to the standalone email address /
		phone number(s) listed here.
	</p>
	
</div>