<div class="explain">
	<div id="side-content-1">About us
		<span id="ct-content-1" class="caret down"></span>
	</div> 		
	<div id="side-detail-1">
		<p>
			What kind of impact are you making with this description of your business?  Is it
			concise, memorable, accurate? Does it explain what makes you special? Will it make
			your target customers want to find out more?
		</p>
		<p>
			Not easy in just 120 characters, you may think. But for inspiration, check out the
			Twitter Profiles of some of the people you've chosen to follow. Who might you decide
			to follow just because of their profile .. and why?
		</p>
	</div>
	<div id="side-content-2">Address
		<span id="ct-content-2" class="caret down"></span>
	</div> 		
	<div id="side-detail-2">
		<p>
			Check that your full address is included and correct.  Watch out for duplicate town names
			in the address-line, or a missing post / zip code.  The page guidance notes on the
			'Update' page explain how to get the address looking just as it should.
		</p>	
		<p>
			If you've chosen to hide your address from users, a confirmation 
			message should appear on the page. 

		</p>
	</div>
	<div id="side-content-3">Email / Phone
		<span id="ct-content-3" class="caret down"></span>
	</div> 		
	<div id="side-detail-3">
		<p>
			Your email address and phone number (if entered), may be used by the HROOMPh team, if
			we need to contact you.  (We won't abuse the privilege!)
		</p>	
		<p>
			If you've indicated that your front-line team is contactable (see 'Team' below), then their email address / phone number will appear to other users. Otherwise, they'll also see the business email and phone details listed here.
		</p>
	</div>
	<div id="side-content-4">Team
		<span id="ct-content-4" class="caret down"></span>
	</div> 		
	<div id="side-detail-4">
		<p>
			Team members are those with access-rights to your business's pages. They can
			view, enter, and edit details of products and programmes, just like you.
		</p>	
		<p>
			If their email address also appears on this page, they can be directly contacted by HROOMPH
			users (for enquiries and orders). A phone number shows they can also be called.  If only
			the name is listed, their name will not appear to the public.
		</p>
	</div>
	<div id="side-content-5">Logo / Image
		<span id="ct-content-5" class="caret down"></span>
	</div> 		
	<div id="side-detail-5">
		<p>
			If your logo and a picture representing the business don't appear on this page, then 
			you're missing a trick!  Your pages are much more likely to capture the casual 
			visitor's interest if you support the facts with visual content.
		</p>	
		<p>
			Follow the 'Page Guidance' on the 'Update' page to add or change the logo and image.
		</p>
	</div>
</div>