<% provide(:title, "Framework updates") %>
<h1>Framework updates</h1>
<div id="menus"
	<ul>
		<li><%= link_to "Currencies", "#" %></li>
		<li><%= link_to "Countries", "#" %></li>
		<li><%= link_to "Training delivery types", "#" %></li>
		<li><%= link_to "Duration units", "#" %></li>
	</ul>
</div>

