<% provide(:title, "Framework menu") %>
<h1>Framework menu</h1>
<div id="menus"
	<ul>
		<li><%= link_to "Training methods", training_methods_path %></li>
		<li><%= link_to "Duration units", "#" %></li>
	</ul>
</div>

