<div class="well sidebar-nav">  
	<div class="js-guidance"> 
		<span class="toggler column-wide"><span class="label label-info">Page info</span><b class="caret"></b></span>
		<div class="explanation">
		 	<%= render 'index_notes_detail' %>
		</div>
	</div>
	<div class="html-guidance">
		<span class="column-wide"><span class="label label-info">Page info</span></span>
		<%= render 'index_notes_detail' %>
	</div>
</div>