@import "bootstrap";

/* mixins, variables, etc */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #1378b1;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  &:hover {
    color: #233d87;
    text-decoration: none;
  } 
}

.padtop10 {
  padding-top: 8px;
}

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  } 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.2em;
      text-align: left;
      color: #000;
    /*  font-weight: bold;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px; */
    } 
  }
  .explain {
    font-size: 0.8em;
    color: $grayLight;
    background-color: ivory;
    padding: 10px;
    border: 1px dotted $grayLight;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.navigator {
  float: right;
  font-size: 14px;
  padding: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #3399FF #fff;
  color: #3399FF;
}


/* miscellaneous */

.gravatar {
  float: left;
  margin-right: 10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* index pages */

.lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.two-line-header {
  h1 {
    margin-bottom: 5px;
  }
}


/* menus */

#menus {
  font-size: 1.2em;
  list-style: none;
  margin-left: 40%;
  li {
    padding-bottom: 20px;
  }
}