@import "bootstrap";

/* mixins, variables, etc */

$grayMediumLight: #eaeaea;
$grayMediumText: #757575;
$blueLabel: #469bcd;
$blueLabelSelect: #28749F;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.glyphicon {
  text-align: left; 
  word-spacing: -0.5em; 
  color: grayMediumText;
}

.glyphicon-search {
  background-color: $blueLabel;
  color: #FFF;
  padding: 5px;
  vertical-align: 15%;
}

.caret {
  border: 5px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0.5;
  margin-left: 5px;
}
.caret.up {
  border-bottom: 5px solid;
  border-top: 0;
  vertical-align: middle;
} 
.caret.right {
  border-left: 5px solid;
}
.caret.down {
  border-top: 5px solid;
  border-bottom: 0;
  vertical-align: middle;
}
.caret.left {
  border-right: 5px solid;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

.subhead {
  font-size: 1.2em;
  letter-spacing: -1px;
  /*margin-bottom: 30px; */
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  .half-width {
    width: 50%;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #1378b1;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  &:hover {
    color: #233d87;
    text-decoration: none;
  } 
}

.padtop10 {
  padding-top: 8px;
}

.sign-out {
  input {
    color: $grayLight;
    background: none;
    padding: 5px;
    margin: 8px;
    line-height: 1;
    border: none;
    float: left;
    &:hover {
      color: $grayMediumLight;
    }
  }
}

a {
  .caret {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0.5;
    margin-left: 5px;
  }
  .caret.up {
    border-bottom: 5px solid;
    border-top: 0;
    vertical-align: top;
  } 
  .caret.right {
    border-left: 5px solid;
  }
  .caret.down {
    border-top: 5px solid;
    border-bottom: 0;
    vertical-align: top;
  }
  .caret.left {
    border-right: 5px solid;
  }

}

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  } 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* maps */
.map_canvas {
  height: 200px;
  width: 350px;
  margin-bottom: 10px;
}

/* sidebar */

aside, .sidebar {
  .explain {
    font-size: 0.8em;
    color: $grayMediumText;
    p {
      line-height: 1.5;
      span {
        display: block;
        line-height: 1.5;
        color: grayMediumText;
        font-weight: normal;
      }
    }
    ul {
      margin-left: 20px;
      padding-right: 0;
      li {
      line-height: 1.5;
      font-size: 1.1em;
      }
    }
  }
  section {
    overflow: visible;
    padding: 0px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.2em;
      text-align: left;
      color: #000;
    }
    .column-wide {
      .label-info {
        width: 90%;
        background-color: $blueLabel;
        cursor: pointer;  
        &:hover {
          background-color: $blueLabelSelect;
          text-decoration: underline;
        }
      }
    }
    a {
      .column-wide {
        .label-info {
          .caret {
            border: 5px solid transparent;
            display: inline-block;
            width: 0;
            height: 0;
            opacity: 0.5;
            margin-left: 5px;
          }
          .caret.up {
            border-bottom: 5px solid;
            border-top: 0;
            vertical-align: top;
          } 
          .caret.right {
            border-left: 5px solid;
          }
          .caret.down {
            border-top: 5px solid;
            border-bottom: 0;
            vertical-align: top;
          }
          .caret.left {
            border-right: 5px solid;
          }
        }
      } 
    }
    .display-total {
      font-size: 0.8em;
      padding-left: 15px;
      display: inline;
    }
  }
}

.js-menu, .js-guidance, .explanation, .explanation-2 {
  display: none;
}

.js-content {
  display: none;
}

.js-link, .js-toggle-detail, .js-toggle-detail-2, .js-toggle-list {
  display: none;
  padding-left: 20px;
  color: #1378b1;
  cursor: pointer;
  cursor: hand;
  &:hover {
    color: #233d87;
    text-decoration: underline;
  } 
}

.js-link-reveal, .js-more-detail, .js-more-detail-2, .hidden-content, .hidden-content-2 {
  display: none;
}

#longlist {
  display: none;
}

#side-content-1, #side-content-2, #side-content-3, #side-content-4, #side-content-5, #side-content-6 {
  font-weight:bold;
  font-size: 1.1em;
  color: #1378b1;
  cursor: pointer;
  &:hover {
    color: #233d87;
    text-decoration: underline;
  } 
}

#side-detail-1, #side-detail-2, #side-detail-3, #side-detail-4, #side-detail-5, #side-detail-6 {
  display: none;
  padding: 5px 0;
}

#side-content-7, #side-content-8, #side-content-9, #side-content-10 {
  font-weight:bold;
  font-size: 1.1em;
  color: #1378b1;
  cursor: pointer;
  &:hover {
    color: #233d87;
    text-decoration: underline;
  } 
}

#side-detail-7, #side-detail-8, #side-detail-9, #side-detail-10 {
  display: none;
  padding: 5px 0;
}

#products {
  ul {
    list-style-type: none;
    font-style: italic;
  }
}

/* forms */

form.button_to {
  display: inline;
  margin: 0;
  padding: 0;
  div { display: inline; }
  input[type=submit] {
    margin: 0;
    padding: 0;
    -webkit-appearance: caret;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #0088cc;
    vertical-align: top;
    &:hover {
      color: #005580;
      text-decoration: underline;
    }
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  .numeric {
    text-align: right;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.navigator, .js-navigator {
  float: right;
  display: inline-block;
  margin-top: 10
  .0px; 
  font-size: 14px;
  padding: 0 3px;
  border-style: solid;
  border-width: thin;
  border-color: #3399FF #fff;
  color: #3399FF; 
}

.js-navigator {
  /* display: none; */
}

.add-top-space {
  margin-top: 15px;
}

.add-bottom-space {
  margin-bottom: 15px;
}

.paragraph {
  clear: both;
  padding-top: 10px;
  .right-align {
    float:right;
  }
  .left-align {
    float: left;
  }
  .subject {
    float:left; 
    width: 25%; 
    font-style: italic;
    color: $grayLight;
  }
  .clearer {
    clear: both;
  }
  .detail {
    float: right; 
    display: inline-block; 
    width: 75%;
  }
  .strong {
    font-weight: bold;
  }
  .explain {
    padding: 25px 0;
    font-size: 0.8em;
    color: $grayMediumText;
  }
  .explain-narrow-top {
    padding: 5px 0;
    font-size: 0.8em;
    color: $grayMediumText;
  }
  .half-width {
    width: 50%;
  }
  .start-phrase {
    float: left;
  }
  .tag-phrase {
    display: inline-block;
    padding-left: 10px;
    font-weight: bold;
  }
  .no-content {
    font-style: italic;
  }
}

.guidance {
  font-style: italic;
  color: $grayMediumText;
  margin-bottom: 20px;
  .label {
    background-color: $grayMediumLight;
    border: 1px dotted $grayMediumText;
    font-style: normal;
    font-weight: normal;
    color: #0D6CBF;
    padding: 5px 5px 0px 5px;
  }
}

.check-notice {
  color: #8A0808;
  font-weight: bold;
}

.check-info {
  color: #8A0808;
  font-size: 0.9em;
  width: 85%;
}

/* product search */
.product-search {
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
      a {
        font-size: 1.2em;
        font-weight: bold;
      }
      .image-display {
        float: right;
        padding-left: 25px;
      }
      .blurb {
        font-size: 0.9em;
        padding: 5px 0px;
      }
    }
  } 
}

/* entry pages */

.entry-page {
  padding-bottom: 5px;
}

.entry { 
  clear: both;
  padding-top: 0px;
  .sub-header {
    color: #8A0808;
    font-size: 0.8em;
    text-decoration: underline;
    font-weight: bold;
  }
  .add-this {
    float:left; 
    width: 25%;
    padding-top: 5px;
    .label {
      background-color: $grayMediumLight;
      border: 1px dotted $grayMediumText;
      color: #0D6CBF;
      vertical-align: top;
      padding: 0px 5px 0 5px;
    }
  }
  .box-fill { 
    float: right; 
    display: inline-block; 
    width: 75%;
    .large-box-fill {
      display: inline-block;
      width: 85%;
    }
    .confirm-button {
      display: inline-block;
      padding: 0px;
      max-height: 20px;
      vertical-align: top; 
      margin-top: 2px;
    }
    .info-below {
      float:left;
      /* display: inline-block; */
      font-size: 0.9em;
      margin-bottom: 10px;
      font-style: italic;
    }
  }
  .image-fill {
    float: right; 
    display: inline-block; 
    width: 75%;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #DDD;
    .image-display {
      float:right;
      width: 30%;
    }
    .image-labels {
      float:left;
      width: 60%;
    }
  }
  .cbox-fill {
    float: left; 
    display: inline-block; 
    width: 10%;
  }
  .cbox-info {
    float: right; 
    display: inline-block; 
    width: 65%;
    font-size: 0.9em;
    color: $grayMediumText;
  }
  .half-line {
    float: left;
    display: inline-block;
    width: 37%;
    .rubric {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
      width: 20%;
    }
    .label {
      background-color: $grayMediumLight;
      border: 1px dotted $grayMediumText;
      color: #0D6CBF;
      vertical-align: top;
      padding: 5px 5px 0 5px;
    }
    .small-box-text {
      display: inline-block;
      width: 40%;
      font-size: 0.9em;
      vertical-align: 15%;
    }
    .small-box-fill {
      display: inline-block;
      width: 20%;
    }
    .mini-box-text {
      display: inline-block;
      width: 20%;
      font-size: 0.9em;
      vertical-align: 15%;
    }
    .mid-box-fill {
      display: inline-block;
      width: 30%;
    }
    .date-box-fill {
      display: inline-block;
      width: 50%;
    }
    .filler {
      display: inline-block;
      width: 70%;
    }
    .filler-plus {
      display: inline-block;
      width: 80%;
    }
  }
}

/* tables */

.table-total {
  float:right; 
  padding-right: 15px; 
  font-size: small;
  font-style: italic;
}

.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: image-url("chevron_up.png");
  font-size: 14px;
}

.table th .desc {
  background-image: image-url("chevron_down.png");
  font-size: 14px;
}

.table .numeric {
  text-align: center;
}


/* miscellaneous */

.gravatar {
  float: left;
  margin-right: 10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* index pages */

.lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.unspaced-lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 1px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    } 
  }
}

.two-line-header {
  h1 {
    margin-bottom: 5px;
  }
}

.heading {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
  border-bottom: 1px dotted #8A0808;
}


/* menus */

#menus {
  font-size: 1.2em;
  list-style: none;
  margin-left: 20%;
  li {
    padding-bottom: 20px;
  }
}