@import "bootstrap";

/* mixins, variables, etc */

$grayMediumLight: #eaeaea;
$grayMediumText: #757575;
$blueLabel: #469bcd;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.glyphicon {
  text-align: left; 
  word-spacing: -0.5em; 
  color: grayMediumText;
}

.toggler {
  .caret {
    vertical-align: middle;
    border-bottom-color: #339bb9;
    border-top-color: #339bb9;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #1378b1;
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  &:hover {
    color: #233d87;
    text-decoration: none;
  } 
}

.padtop10 {
  padding-top: 8px;
}

.sign-out {
  input {
    color: $grayLight;
    background: none;
    padding: 5px;
    margin: 8px;
    line-height: 1;
    border: none;
    float: left;
    &:hover {
      color: $grayMediumLight;
    }
  }
}

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  } 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside, .sidebar {
  .explain {
    font-size: 0.8em;
    color: $grayMediumText;
    p {
      line-height: 1.5;
      span {
        display: block;
        line-height: 1.5;
        color: grayMediumText;
        font-weight: normal;
      }
    }
    ul {
      margin-left: 20px;
      padding-right: 0;
      li {
      line-height: 1.5;
      font-size: 1em;
      }
    }
  }
  section {
    overflow: visible;
    padding: 0px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.2em;
      text-align: left;
      color: #000;
    }
    .column-wide {
      .label-info {
        width: 90%;
        background-color: $blueLabel;
      }
    } 
  }
}

.js-menu {
  display: none;
}

.js-guidance, .explanation {
  display: none;
}

.js-content {
  display: none;
}

.js-link {
  padding-left: 20px;
  color: #1378b1;
  cursor: pointer;
  cursor: hand;
  &:hover {
    color: #233d87;
    text-decoration: underline;
  } 
}

.js-link-reveal {
  display: none;
}

.hidden-content {
  display: none;
}

/* forms */

form.button_to {
  display: inline;
  margin: 0;
  padding: 0;
  div { display: inline; }
  input[type=submit] {
    margin: 0;
    padding: 0;
    -webkit-appearance: caret;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #0088cc;
    vertical-align: top;
    &:hover {
      color: #005580;
      text-decoration: underline;
    }
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.navigator {
  float: right;
  font-size: 14px;
  padding: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #3399FF #fff;
  color: #3399FF; 
}

.add-top-space {
  margin-top: 15px;
}

.add-bottom-space {
  margin-bottom: 15px;
}

.paragraph {
  clear: both;
  padding-top: 10px;
  .subject {
    float:left; 
    width: 25%; 
    font-style: italic;
    color: $grayLight;
  }
  .detail {
    float: right; 
    display: inline-block; 
    width: 75%;
  }
  .explain {
    padding: 25px 0;
    font-size: 0.8em;
    color: $grayMediumText;
  }
}

.guidance {
  font-style: italic;
  color: $grayMediumText;
  margin-bottom: 20px;
  .label {
    background-color: $grayMediumLight;
    border: 1px dotted $grayMediumText;
    font-style: normal;
    font-weight: normal;
    color: #0D6CBF;
    padding: 5px;
  }
}



.check-notice {
  color: crimson;
  font-weight: bold;
}


/* entry pages */

.entry-page {
  padding-bottom: 20px;
}

.entry { 
  clear: both;
  padding-top: 5px;
  .add-this {
    float:left; 
    width: 25%;
    padding-top: 5px;
    .label {
      background-color: $grayMediumLight;
      border: 1px dotted $grayMediumText;
      color: #0D6CBF;
      padding: 0 5px;
    }
  }
  .box-fill { 
    float: right; 
    display: inline-block; 
    width: 75%;
  }
  .image-fill {
    float: right; 
    display: inline-block; 
    width: 75%;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #DDD;
    .image-display {
      float:right;
      width: 30%;
    }
    .image-labels {
      float:left;
      width: 60%;
    }
  }
  .cbox-fill {
    float: left; 
    display: inline-block; 
    width: 10%;
  }
  .cbox-info {
    float: right; 
    display: inline-block; 
    width: 65%;
    font-size: 0.9em;
    color: $grayMediumText;
  }
  .half-line {
    float: left;
    display: inline-block;
    width: 37%;
    .rubric {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
      width: 20%;
    }
    .filler {
      display: inline-block;
      width: 70%;
    }
  }
}


/* miscellaneous */

.gravatar {
  float: left;
  margin-right: 10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* index pages */

.lists {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.two-line-header {
  h1 {
    margin-bottom: 5px;
  }
}

.heading {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
  border-bottom: 1px dotted crimson;
}


/* menus */

#menus {
  font-size: 1.2em;
  list-style: none;
  margin-left: 40%;
  li {
    padding-bottom: 20px;
  }
}