<div class="paragraph">
		<div class="subject">Classification:</div>
	<div class="detail add-bottom-space">
		<%= @product.topic.classification %> <%= link_to " (change)", new_genre_selection_path %>
	</div>
</div>	
	