<p>
	You now need to list all the training resources and programmes
	offered by your business. It shouldn't take you 
	more than a couple of minutes to add a new product. You include:-
</p>
<ul>
	<li>the title and the standard cost;</li>
	<li>the delivery-method, category, duration/content-length
	 	(each selected from a list);
	</li>
	<li>a qualification and reference-code if applicable; </li>
	<li><i>(optionally)</i> a visual (such as a photo) and a 
		web-link;
	</li>
	<li>a description of the content and the outcome (i.e. 
		how the learner will benefit) - each in fewer than 125 characters.
	</li>
</ul>
<p>
	Why the length restriction, when you have so much to say? Well,
	first put yourself in your potential client's shoes. You conduct a training search. Do you want to wade through pages of detail?
	Probably not! Better would be a relevant list with just enough detail to show whether you need to find out more - either on 
	the phone or by following a web-link.  
</p>
<p>
	But second, 125 characters is just below Twitter-length. So we can promote your products/services on Twitter and other
	social media (adding the hash-tag <i>#hroomph</i>).
</p>