<h2 class='check-notice'>No Javascript!?</h2>
<p>This page - and the whole HROOMPH application - works faster and better 
	with Javascript ... but it seems that you have Javascript turned off.
</p>
<p>
	We recommend that you turn Javascript on, but if that's not possible, 
	just click on the link below, and we'll take you on the country route!
</p>
<%= link_to "Continue without Javascript", 
				new_genre_selection_path, 
				class: "btn btn-large btn-primary" 
			%>
