<div class="navigator add-top-space add-bottom-space">	
	<%= link_to "<- All products/services", my_business_products_path(@business) %>
	| <%= link_to "Update product details ->", edit_product_path(@product) %>
</div>