<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container js-content">
			<%= render 'layouts/js_header' %>
		</div>
		<div class="container html-content">
			<%= render 'layouts/html_header' %>
		</div>
	</div>
</header>